@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

input[type="text"], button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 650px;
}

h1 {
  margin-bottom: 0.5rem;
}

article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 58%);
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todo label {
  text-align: start;
}

input[type="checkbox"] {
  min-width: 30px;
  min-height: 30px;
  margin-right: 1rem;
}

button {
  width: 120px;
  min-height: 50px;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
}

.trash {
  background-color: #fff;
  color: mediumvioletred;
  flex-shrink: 0;
}

.trash:focus, .trash:hover {
  filter:brightness(120%)
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  margin-bottom: 1rem;
}



.new-todo {
  width: 100%;
  margin-right: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid #333;
}

.submit {
  background-color: gray;
  color: #fff;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
}

@media (max-width: 575px) {
  #root {
    padding: 1rem !important;
  }
  article {
    flex-direction: column;
  }
  .todo {
    margin-bottom: 15px;
  }
  .todo label {
    font-size: 16px;
    text-align: start;
  }
  form {
    flex-direction: column;
  }
  .new-todo {
    margin-right: 0;
    margin-bottom: 15px;
  }
 
}